In [4]:
import math
import numpy as np

The principal built-in types are **numerics, sequences, mappings, classes, instances and exceptions**. And there're other built-in types. 
  
Practically all objects can be compared for equality, tested for turth value, and converted to a string.   
For comparison operations,
- ==: equal
- !=: not equal
- is: object identity
- is not: negated object identity
  
Non-identical instances of a class normally compare as non-equal unless the class defines the \_\_eq\_\_() method. Most built-in types define the \_\_eq\_\_() method.

In [5]:
a = [1, 2, 0]
a == [1, 2, 0]

True

In [6]:
a is [1, 2, 0]

False

In [7]:
b = a
a is b

True

# 1. Numeric Types: int, float, complex

Booleans are a subtype of integers.

In [8]:
a = 2 + 4j # complex number
a

(2+4j)

In [9]:
complex(2, 4)

(2+4j)

### For ***int*** and ***float*** types, supported numeric operations include:
- x+y, x-y, x*y, x/y (quotient of x and y)
- x//y (floored quotient of x and y), x%y, divmod(x, y)
- -x, +x, abs(x), int(x), float(x)
- pow(x, y), x ** y
- math.trunc(x) (truncated to Integral)
- round(x\[, n\]) (x rounded to n digits, rounding half to even)
- math.floor(x) (the greatest int <= x)
- math.ceil(x) (the least int >= x)

In [10]:
math.trunc(-4.3)

-4

In [11]:
math.floor(-4.3)

-5

In [12]:
# truncate to zero
print(int(-3 / 2))
print(int(3 / 2))
print(math.trunc(-3 / 2))

-1
1

In [18]:
math.ceil(-4.3)

-4

### Bitwise operations on integer types
- x | y: bitwise or
- x & y: bitwise and
- x ^ y: bitwise exclusive or
- x << n: left shift by n bits
- x >> n: right shift by n bits
- ~x: the bits of inverted
  
The priorities of the binary bitwise operations are all lower than the numeric operations and higher than the comparisons; the unary operation ~ has the same priority as the other unary numeric operations (+ and -).

In [14]:
~3

-4

# 2. Sequence Types: list, tuple, range and other
There are three basic sequence types: **lists**, **tuples**, and **range** objects. Additional sequence types are:
- **str**: immutable sequences of Unicode points which is tailored for processing text string.
- **bytes, bytearray, memoryview**: tailored for processing binary data.

### Common Sequence Operations
*s* and *t* are sequences of the same type, *n, i, j, k* are integers, *x* is an arbitrary object that meets any type and value restrictions imposed by s.
- **x in s, x not in s**
- **s + t**: the concatenation of s and t (not for range type). Concatenating immutable sequences always results in a new object. This means that building up a sequence by repeated concatenation will have a quadratic runtime cost in the total sequence length. To get a linear runtime cost, switch to alternatives.
- __s \* n__ or __n \* s__: equivalent to adding s to itself n times
- **s\[i\], s\[i:j\], s\[i:j:k\]**
- **len(s), min(s), max(s)**
- **s.index(x\[, i\[, j\]\])**: index of the first occurrence of x in s (at or after index i and before index j)
- **s.count(x)**: total number of occurrences of x in s

In [15]:
lists = [[]] * 3
lists[0].append(2)
lists

[[2], [2], [2]]

In [16]:
lists = [[] for i in range(3)]
lists[0].append(2)
lists

[[2], [], []]

In [17]:
[2, 3] in [1, 2, 3]

False

In [18]:
# for str, bytes and bytearray, (not) in operations can also be used for subsequence testing
'gg' in 'egg'

True

### Mutable Sequence Operations
*s* is an instance of a mutable sequence type, *t* is any iterable object and *x* is an arbitrary object that meets any type and value restrictions imposed by *s*.
- **s\[i\] = x, s\[i:j\] = t, s\[i:j:k\] = t**
- **s.append(x), s.extend(t)** or **s += t**
- __s \*= n__
- **s.insert(i, x)**: inserts x into s at the index given by i
- **del s[i], del s[i:j], del s[i:j:k]**
- **s.remove(x)**: remove the first item from s where s\[i\] is equal to x
- **s.pop()**
- **s.pop(i)**: retrieves the item at i and also removes it from s
- **s.reverse()**: reverse items in place
- **s.clear()**
- **s.copy()**: creates a shallow copy of s

In [19]:
s = list(range(7))
s

[0, 1, 2, 3, 4, 5, 6]

In [20]:
s[0:4:2] = [-1, -2]
s

[-1, 1, -2, 3, 4, 5, 6]

In [21]:
s.insert(1, 9)
s

[-1, 9, 1, -2, 3, 4, 5, 6]

In [22]:
if 9 in s:
    s.remove(9)

In [23]:
s.pop()

6

In [24]:
s.reverse()
s

[5, 4, 3, -2, 1, -1]

In [25]:
del s[-1]

In [26]:
s

[5, 4, 3, -2, 1]

In [27]:
s.copy()

[5, 4, 3, -2, 1]

### Other about basic sequence types
- **list.sort(*key=None, reverse=False*)**: sorts list in place
- **tuple, range** are immutable sequence types. Immutable sequence type has implementation support for the **hash()** built-in.

### Text Sequence Type: str
- **str.endswith(), str.startswith()**
- __str.find(*sub\[, start\[, end\[\]*)__:Return the lowest index in the string where substring sub is found within the slice s\[start:end\]. Return -1 if sub is not found.
- __str.rfind(*sub\[, start\[, end\[\]*)__
- **str.join(iterable)**
- **str.lstrip(), str.rstrip(), str.strip()**
- **str.replace(*old, new*)**
- **str.ljust(width\[, fillchar\]), str.rjust(width\[, fillchar\])**: Return the string left/right justified in a string of length width. Padding is done using the specified fillchar (default is an ASCII space).
- **str.split(*sep=None, maxsplit=-1*)**
- **str.lower(), str.upper()**

### Binary Sequence Types: bytes, bytearray, memoryview

# 3. Set Types: set, frozenset

A *set* object is an unordered collection of distinct hashable objects. There are currently two built-in set types, **set** and **frozenset**. The **set** type is mutable. Since it is mutable, it has no hash value. The **frozenset** type is immutable and hashable.

### Common operations for set and frozenset
- __set(*\[iterable\]*), frozenset(*\[iterable\]*)__
- **len(s)**
- **x in s, x not in s**
- __union(*\*others*), set | other | ...__: Return a new set with elements from the set and all others.
- __intersection(*\*others*), set & other & ...__: Return a new set with elements common to the set and all others.
- __difference(*\*others*), set - other - ...__: Return a new set with elements in the set that are not in the others.
- **symmetric_difference(*other*), set ^ other**: Return a new set with elements in the set or other but not both.
-  **copy()**
  
Note, the non-operator versions of union(), intersection(), difference(), symmetric_difference() methods will accept any iterable as an argument. In contrast, their operator based counterparts require their arguments to be sets. So prefer more readable and less error-prone set('abc').intersection('cbs').

### Other frequently used operations for set
- __update(*\*others*), set |= other | ...__: Update the set, adding elements from all others.
- __intersection_update(*\*others*), set &= other & ...__: Update the set, keeping only elements found in it and all others.
- __difference_update(*\*others*), set -= other | ...__: Update the set, removing elements found in others.
- **symmetric_difference_update(*other*), set ^= other**: Update the set, keep only elements found in either set, but not in both.
- **add(*elem*)**
- **remove(*elem*)**: Remove elements *elem* from the set. Raises **KeyError** if *elem* is not contained in the set.
- **discard(*elem*)**: Remove element *elem* from the set if it's present.
- **pop()**: Remove and return an arbitrary element from the set. Raise **KeyError** if the set is empty.
- **clear()**
  
Note, the non-operator versions of the update(), intersection_update(), difference_update(), and symmetric_difference_update() methods will accept any iterable as an argument.

In [62]:
frozenset(np.arange(5))

frozenset({0, 1, 2, 3, 4})

In [59]:
a = set([3, 5, 7, 7, 8])
a

{3, 5, 7, 8}

In [63]:
b = {6, 5, 5, 7, 8}
b

{5, 6, 7, 8}

In [65]:
a.update(b)
a

{3, 5, 6, 7, 8}

In [67]:
a | b

{3, 5, 6, 7, 8}

In [69]:
a.union('def')

{3, 5, 6, 7, 8, 'd', 'e', 'f'}

In [70]:
while a:
    print(a.pop())

3
5
6
7
8

# 4. Mapping Types: dict

A mapping object maps hashable values to arbitrary objects. There is currently only one standard mapping type, the **dict**. It's mutable.

### Common operations of dict
- **len(d)**
- **key in d, key not in d**
- **items()**: Return a new view of the dictionary’s items ((key, value) pairs).
- **keys(), values()**
- **d\[key\], d.get(key\[, default\])**
- **d\[key\] = value**
- __update(\[*other*\])__: Update the dictionary with the key/value pairs from other, overwriting existing keys. Return None. update() accepts either another dictionary object or an iterable of key/value pairs (as tuples or other iterables of length two). If keyword arguments are specified, the dictionary is then updated with those key/value pairs: d.update(red=1, blue=2).
- __pop(*key\[, default\]*)__: If *key* is in the dictionary, remove it and return its value, else return default. If default is not given and key is not in the dictionary, a **KeyError** is raised.
- **pop(*item*)**: Remove and return a (key, value) pair from the dictionary. Pairs are returned in LIFO order.
- **clear()**
- **copy()**

In [72]:
d = {3:4, 5:6}
d

{3: 4, 5: 6}

In [73]:
d.pop(1, 0)

0

In [74]:
d.popitem()

(5, 6)

# 5. Other Built-in Types

### Modules

### Classes and Class Instances

### Functions
Function objects are created by function definitions. The only operation on a function object is to call it. **func(argument-list)**

### Type Annotation Types: Generic Alias, Union

GenericAlias objects are generally created by subscripting a class. They are most often used with container classes, such as list or dict. For example, **set\[bytes\]** can be used in type annotations to signify a set in which all the elements are of type bytes.

In [75]:
def average(values: list[float]) -> float:
    return sum(values) / len(values)

In [76]:
type(dict[str, int])

types.GenericAlias

In [79]:
dd = dict[str, int]()
type(dd)

dict

A union object holds the value of the | (bitwise or) operation on multiple type objects.

In [80]:
def square(number: int | float) -> int | float:
    return number ** 2

### Context Manager Types